[Unit]
Description=SpotTop Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop spottop
ExecStartPre=-/usr/bin/docker rm spottop
ExecStart=/usr/bin/docker run --rm --name spottop \
    -p 80:5000 \
    akonkol/spottop:1.1

[Install]
WantedBy=default.target
