[Unit]
Description=Gunicorn instance to serve spottop
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/code/spottop
Environment="PATH=/home/pi/code/spottop/venv/spottop/bin"
EnvironmentFile=/home/pi/code/spottop/systemd/config.env
ExecStart=/home/pi/code/spottop/venv/spottop/bin/gunicorn --workers 3 --bind unix:spottop.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
